div {
    width: 200px;
    height: 65px;
    background-color: rgb(53, 136, 184);
    overflow: visible;
  }

table{
    width: 100px;
    overflow: scroll;
    empty-cells: show;
    border-collapse:collapse;
}

table, th, td {
    width: 100px;
    border: 1px solid rgb(0, 0, 0);
    }

form{
    border: 1px solid rgb(0, 0, 0);
    background-color:background-color: rgb(0, 0, 0);
    overflow: scroll;
}